<body>
    <h1 style="text-align:center">Registro de notas</h1>
<div class="title-container">
    <div class="container" style="text-align: center">
      <form [formGroup]="form" (submit)="insertar()" >
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Id</mat-label>
          <input matInput placeholder="Id" formControlName="nid" />
        </mat-form-field>
        <br />
        
        <mat-form-field class="example-full-width">
          <mat-label>descripcion</mat-label>
          <textarea matInput placeholder="Descripción" formControlName="ndescription"></textarea>
          <mat-error *ngIf="form.get('ndescription')?.hasError('required')">
            Campo obligatorio
        </mat-error>
        <mat-error *ngIf="form.get('ndescription')?.hasError('minlength')">
          Ingresar nombre con al menos 3 caracteres
        </mat-error>
        </mat-form-field>
        <br />  
          <mat-form-field>
            <mat-label>User</mat-label>
            <mat-select formControlName="nuser">
              @for (user of listausers; track user) {
              <mat-option [value]="user.id">{{ user.username }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        <br/>
        
          <button style="text-align: center;" mat-flat-button color=#1d39bd>Registrar</button>
      </form>
    </div>
  </div>
</body>