<body>
<br/>
  <div class="title-container">
    <div class="container" style="text-align: center">
      <!-- Formulario con grupo de controles -->
       <mat-card>
      <form [formGroup]="form" (submit)="insertar()">

        <!-- Campo de descripción -->
        <mat-form-field class="descripcion">
          <mat-label>Descripción</mat-label>
          <input matInput placeholder="Descripción" formControlName="Description">
          <mat-error *ngIf="form.get('Description')?.hasError('required')">
            Campo obligatorio
          </mat-error>
          <mat-error *ngIf="form.get('Description')?.hasError('minlength')">
            Ingresa al menos 10 caracteres en la descripción
          </mat-error>
        </mat-form-field>

        <!-- Selector de usuario -->
        <mat-form-field class="user">
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="Userid">
            @for (user of listausers; track user) {
            <mat-option [value]="user.id">{{ user.username }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Botón de registrar -->
        <button mat-flat-button color="primary" style="text-align: center;">
          Registrar
        </button>
      </form>
      </mat-card>
    </div>
  </div>
</body>