<body>
  <!-- Contenedor principal -->
  <div class="outer-container">
    <!-- Contenedor de los widgets -->
    <div class="widget-container">
      <!-- Repetición dinámica de widgets -->
      <div *ngFor="let note of notes" class="note-widget">
        <mat-card>
          <mat-card-header>
            <!-- Descripción del widget -->
            <mat-card-subtitle>{{ note.description }}</mat-card-subtitle>

            <!-- Botón eliminar -->
            <button mat-button color="warn" (click)="delete(note.id)">
              <mat-icon class="buttondelete">delete</mat-icon>
            </button>

            <!-- Botón editar -->
            <button mat-button [routerLink]="['ediciones', note.id]">
              <mat-icon class="buttonedit">edit</mat-icon>
            </button>
          </mat-card-header>
          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</body>