<mat-toolbar class="custom-toolbar" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="verificar()">
  <div fxLayout="row" fxLayoutGap="10px">
    <button class="special-buttons" mat-button [routerLink]="['/notes']" style="color: white">
      <mat-icon>notes</mat-icon>Notas
    </button>
    <button class="special-buttons" mat-button [routerLink]="['/notes/nuevo']" style="color: white" *ngIf="isAdmin() || isUser()">
      <mat-icon>assignment_ind</mat-icon>
      Asignar tareas
    </button>
    <button mat-button [matMenuTriggerFor]="menuSalir" style="color: white">
      <mat-icon>person</mat-icon>{{ username }}
    </button>
  </div>
</mat-toolbar>
<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
