<body>
  <!-- Login floating box -->
  <div class="float-box">
    <h2>Iniciar sesión</h2>

    <!-- Username field -->
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="username" />
    </mat-form-field>

    <br />

    <!-- Password field -->
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" [(ngModel)]="password" />
    </mat-form-field>

    <br />

    <!-- Login button -->
    <button (click)="login()" mat-flat-button color="primary">Ingresar</button>
    <br/>
    <button [routerLink]="['/newuser']" mat-flat-button color="primary">Crear usuario</button>
  </div>
</body>